<?xml version="1.0"?>
<!--
Web.config file for Company.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies/>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iEgypt;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iEgypt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString1" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iEgypt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iEgypt_57ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iEgypt_57;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>